@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: Roboto;
    
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

ul a {
    color: #e5e7eb;
}

.header {
    background-color: #1f2937;
    padding: 20px 200px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
}

.header ul {
    font-size: 18px;
    font-weight: 400;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
}

.main-1 {
    background-color: #1f2937;
    padding: 100px 200px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.main-1 .left {
    width: 440px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-1 button {
    color: #f9faf8;
    background-color: #3882f6;
    font-size: 18px;
    font-weight: 600;
    height: 40px;
    width: 140px;
    margin-top: 10px;
    border-style: none;
    border-radius: 8px;
}

.main-1 .text {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
}

.main-1 img {
    height: 340px;
    flex: auto;
}

.main-2 {
    background-color: #f9faf8;
    padding: 40px 40px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.main-2 .pics {
    display: flex;
    gap: 36px;
}

.pics-1 {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.pics-1 .text {
    color: #1f2937;
    font-size: 18px;
    text-align: center;
}

.pics-1 img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.main-3 {
    padding: 100px 340px;
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
}

.main-3 .text-1 {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.main-3 .text-2 {
    font-size: 22px;
    font-weight: 700;
    color: #1f2937;
    margin-right: 100px;
    align-self: flex-end;
}

.main-4 {
    background-color: #f9faf8;
    padding: 100px 200px;
}

.main-4 .box {
    color: #f9faf8;
    background-color: #3882f6;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-4 .left {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.main-4 .text-1 {
    font-size: 22px;
    font-weight: 700;
}

.main-4 .text-2 {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
}

.main-4 button {
    background-color: #00000000;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 600;
    height: 40px;
    width: 140px;
    border-style: solid;
    border-color: #f9faf8;
    border-width: 3px;
    border-radius: 8px;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}